<h3 id="work">Work</h3>
<section class="section-work">
  <div class="second-screen">
        <a class="btn" href="javascript:;" style="display:none"> < </a>
  </div>
  <article class="main-column">
    <div class="thumb-container">

      <div class="projects">
        <div class="screenshot" project-link="{{ site.baseurl }}/assets/proj/Weather/">
          <img src="{{ site.baseurl }}/assets/img/weatherscreen3.png" alt="">
        </div>
        <div class="writeup">
          For this project, I created a local weather search application using Angular. The user enters a location, which is looked up using Yahoo's Weather API. The user can toggle between today's detailed forecast and a forecast for the next 5 days. Implemented Bootstrap for styling.   
		    </div>
      </div>

      <div class="projects">
        <div class="screenshot" project-link="{{ site.baseurl }}/assets/proj/Calculator/">
          <img src="{{ site.baseurl }}/assets/img/calcscreen.png" alt="">
        </div>
        <div class="writeup">
          This calculator incorporates parentheses, radical, and squaring (along with basic arithmetic). Tokens are validated, then parsed, then calculated. Order of operations is preserved in this calculator.
        </div>
      </div>




      <div class="projects">
        <div class="screenshot" project-link="{{ site.baseurl }}/assets/proj/ToDoList/">
          <img src="{{ site.baseurl }}/assets/img/todoscreenshot.png" alt="">
        </div>
        <div class="writeup">
	        This early project uses JavaScript to manage tasks. The user is able to add, edit, and delete unfinished tasks. These can be moved to the completed tasks when checked.
		    </div>
      </div>

      <div class="projects">
        <div class="screenshot" project-link="{{ site.baseurl }}/assets/proj/SignUp/">
          <img src="{{ site.baseurl }}/assets/img/signupscreenshot.png" alt="">
        </div>
        <div class="writeup">
          This is an account registration form that adds error classes to each field based on whether it passes validation. The functions test for empty fields, a minimum password length, whether the passwords match, and a valid e-mail format using regular expressions.
		    </div>
      </div>


  </article>
</section>
